TEAM_ID=

PRODUCT_NAME=buildandrun
PRODUCT_BUNDLE_IDENTIFIER=app.tich.buildandrun.buildandrun.macos$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

PORT_SYNC_NON_UI_SWIFT_PRUNE=YES
PORT_SYNC_NON_UI_SWIFT_EXCLUDED_NAMES_YES=WorktreeManager/Application/**/*.swift WorktreeManager/Domain/**/*.swift WorktreeManager/Infrastructure/**/*.swift WorktreeManager/Presentation/**/*.swift WorktreeManager/DecomposeKit/**/*.swift
PORT_SYNC_NON_UI_SWIFT_EXCLUDED_NAMES_NO=
PORT_SYNC_LEGACY_UI_EXCLUDED_NAMES=
EXCLUDED_SOURCE_FILE_NAMES=$(inherited) $(PORT_SYNC_NON_UI_SWIFT_EXCLUDED_NAMES_$(PORT_SYNC_NON_UI_SWIFT_PRUNE)) $(PORT_SYNC_LEGACY_UI_EXCLUDED_NAMES)
